.search_bar, .search_button {
    height: 2vw;
  }
  
  .search_bar {
    width: 20vw;
    padding-left: 0.5vw;
    &::placeholder, &::-webkit-input-placeholder {
      font-size: 1vw;
    }
  }
  
  .search_button {
    font-size: 1.2vw;
}

.aaa{
    font-size: 20px;
}
  
.article_list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  width: 100%;
}

.home_h2 {
  margin: 0;
  padding: 0;
  font-size: 3vw;
  width: 100%;
  text-align: center;
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
  font-weight: 700;
}
  
.article {
    display: flex;
    justify-content: flex-start;
    position: relative;
    word-break: break-all;
    align-items: center;
    padding: 1vw 0.5vw;
    margin: 0;
    gap: 0.5vw;
    font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    width: 100%;
    height: auto;
    background: #FFF;
    color: #000;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    &:hover {
      transform: scale(1.0075, 1.0075);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
      text-decoration: none;
    }
    &:visited {
      color: #000;
      text-decoration: none;
    }
    .article_icon {
      margin: 0 0 0 0;
      width: 10vw;
      height: 11vw;
      pointer-events: none;
    }
    div {
      color: #000;
      .Articleh2 {
        font-size: 2vw;
        color: #000;
        margin: 0;
        text-align: left;
        line-height: normal;
        &:hover {
          text-decoration: none;
        }
        &:visited {
          color: #000;
        }
      }
  
      .timeDetail {
        margin: 0;
        font-size: 1.1vw;
        word-break: break-all;
        -webkit-line-clamp: 2; // 2行以上になったら3点リード。ここの数字はお好みで調整。
        -webkit-box-orient: vertical;
        overflow: hidden;
        &:visited {
          color: #000;
        }
      }
    }
  }
  
  
  .category_tags {
    display: flex;
    gap: 5px;
    padding: 7px 0;
    color: #FFF;
    font-family: "Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Yu Gothic",sans-serif;
    font-weight: 500;
    a {
      color: #FFF;
    }
  }
  
  .category_tag {
    display: flex;
    font-size: 1vw;
    padding: 0.5vw;
    background: linear-gradient(to right, #167df3, #00abfb);
    box-shadow: 0 4px 15px #5D8BDE;
    text-decoration: none;
    color: #FFF;
    &:visited {
      color: #FFF;
      text-decoration: none;
    }
    border-radius: 25px;
    position: relative;
    transition: all 0.3s ease 0s;
  
    &:hover {
      transform: translateY(-1px);
      background: linear-gradient(to right, #0b66f7, #0082fb);
      text-decoration: none;
      text-decoration-color: none;
    }
  }
  
  




.others_card {
    width: 15vw;
    height: 15vw;
    padding: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    p {
      text-align: center;
      width: 100%;
      margin: 0;
      font-size: 2vw;
      font-family: ubuntu, sans-serif;
      font-weight: 400;
      font-style: normal;
      align-items: center;
      color: #3a3a3a;
    }
    .p_ja {
      font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
      font-weight: 500;
    }
  }
  
  .title_category_tag {
    align-items: center;
    height: 30%;
    margin: 7px 5px 7px 0;
}

.others_icon {
    font-size: 7vw;
}




.error_text {
  font-size: 2vw;
}




  .error_search {
    margin: 0;
    width: 100%;
    height: 3vw;

    .not_sea_btn {
      width: 93%;
      height: 100%;
    }

    .search_button {
      width: 7%;
      height: 100%;
    }
  }
.error_img {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  margin: 0 auto;
}

.error_tips {
  width: 100%;

  h2 {
    font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    font-weight: 700;
    font-size: 2.5vw;
    margin: 0.5vw auto;
    border-left: 7px solid #0b66f7;
    background: rgb(240, 240, 240);
    width: 100%;
  }
}



@media (max-width: 650px) {
    .side_panel {
      display: none;
    }
    .search_bar {
      width: 20vw;
      padding-left: 2vw;
    
      &::placeholder {
        font-size: 4vw;
      }
      &::-webkit-input-placeholder{
        font-size: 4vw;
      }
    }
    .search_button {
      width: 10vw;
      padding: 2% 5%;
    }
    .error_search_button {
      width: 15vw;
      padding: 2% 5%;
    }
    .others_card {
    width: 60vw;
    height: 60vw;
    }

    .article_list {
      h1 {
        font-size: 12vw;
      }
    }

    .home_h2 {
      font-size: 10vw;
    }

    .article {
      margin: 0;
      padding: 2vw 2vw;
      gap: 2vw;
      &:active {
        transform: scale(1.0075, 1.0075);
      }
      .article_icon {
        width: 25vw;
        height: 27vw;
      }
      font-size: 20vw;
      div {
        .Articleh2 {
          font-size: 5vw;
        }
        .timeDetail {
          font-size: 3vw;
          word-break: break-all;
        }
      }
    }
    .category_tag {
      font-size: 3.5vw;
      padding: 1vw;
      &:active {
        background: linear-gradient(to right, #0b66f7, #0082fb);
      }
    }
    .others_card {
      p {
        font-size: 9vw;
      }
    }
  
    .error_text {
      font-size: 3.7vw;
    }
    .article_list {
      gap: 5vw;
      .search_container {
        margin: 5px;
        height: 8vw;
      }
    }

    .others_icon {
        font-size: 40vw;
    }
}

// Pagination

.pagelink_div {
  margin-top: 1vw;
  display: flex;
  word-break: break-all;
  justify-content: center;
  gap: 0.5vw;
  padding: 0;
  width: 100%;
  list-style: none;
}

.pagelink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
  cursor: pointer;
  background: linear-gradient(to top, #167df3, #00abfb);
  box-shadow: 0 4px 15px #5D8BDE;
  border-radius: 25%;
  color: #FFF;
  font-size: 2.5vw;
  font-weight: 400;
  font-style: normal;
  width: 3.5vw;
  height: 3.5vw;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: translateY(-2px);
    background: linear-gradient(to top, #0b66f7, #0082fb);
    box-shadow: 0 4px 15px #2d6ce0;
    color: #FFF;
    text-decoration: none;
  }
  &:visited {
    color: #FFF;
    text-decoration: none;
  }
  &:active{
    border-radius: 25%;
  }
}

// Active
.active_pagelink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
  cursor: default;
  background: linear-gradient(to top, #2c7cde, #136BD6);
  box-shadow: 0 4px 15px #5D8BDE;
  border-radius: 25%;
  color: #FFF;
  font-size: 2.5vw;
  font-weight: 400;
  font-style: normal;
  width: 3.5vw;
  height: 3.5vw;
  &:hover {
    transform: translateY(0);
    background: linear-gradient(to top, #2c7cde, #136BD6);
    box-shadow: 0 4px 15px #5D8BDE;
  }
  &:visited {
    color: #FFF;
    text-decoration: none;
  }
}
.notfound_pagelink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
  cursor: not-allowed;
  background: linear-gradient(to top, #0b66f7, #0082fb);
  opacity: 0.5;
  box-shadow: 0 4px 15px #5D8BDE;
  border-radius: 25%;
  color: #FFF;
  font-size: 2.5vw;
  font-weight: 400;
  font-style: normal;
  width: 3.5vw;
  height: 3.5vw;
  &:hover {
    transform: translateY(-0px);
    background: linear-gradient(to top, #0b66f7, #0082fb);
    box-shadow: 0 4px 15px #5D8BDE;
  }
  &:visited {
    color: #FFF;
    text-decoration: none;
  }
  &:active{
    background: linear-gradient(to top, #0b66f7, #0082fb);
    border-radius: 25%;
  }
}

@media (max-width: 650px) {
  .pagelink_div {
    margin-top: 5vw;
    gap: 2vw;
    height: 10vw;
  }
  .pagelink {
    font-size: 5vw;
    width: 10vw;
    height: 10vw;
  }
}
.searcharticle_icon {
  margin: 0 0 0 0;
  width: 5vw;
  pointer-events: none;
}
.searchArticleh2 {
  font-size: 1.25vw;
  line-height: normal;
  margin: 0;
}
.searchCategoryTag {
  font-size: 0.7vw;
  padding: 0.25vw;
}
.searchTimeDetail {
    margin: 0;
    font-size: 0.75vw;
    word-break: break-all;
    -webkit-line-clamp: 2; // 2行以上になったら3点リード。ここの数字はお好みで調整。
    -webkit-box-orient: vertical;
    overflow: hidden;
    &:visited {
      color: #000;
    }
}