.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5vw;
    background: #242424;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    color: #FFF;
    nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
      li {
        margin: 0 0.5vw;
        list-style: none;
        .footer_nav_link {
          font-size: 1.5vw;
          transition: all 0.3s ease 0s;
          color: #FFF;
          &:hover{
            color:#cbdfff;
          }
          .p_ja {
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: normal;
          }
        }
        small.footer_nav_link {
          &:hover{
            color: #FFF;
          }
        }
      }
    }
  }
  .footer_logo_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2vw 0;
  }
  .footer_logo{
    font-size: 2.3vw;
    color: #FFF;
    margin: 0;
    padding: 0;
    &:visited {
      color: #FFF;
      text-decoration: none;
    }
    h1 {
      margin: 0;
      padding: 0;
    }
  }

  @media (max-width: 500px) {
    .footer_logo_div {
      margin: 0 0 1vw 0;
    }

    .footer_logo{
      font-size: 7vw;
    }

    .footer{
      padding: 0.7vw 0.5vw 7vw 0.7vw;
      nav {
        li {
          margin: 1vw 0vw;
          width: 100%;
          .footer_nav_link {
            font-size: 4vw;
          }
        }
      }
    }
  }