html,
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  background: none;
  box-shadow:0 0 5px #5d8ade79 inset ;
  width: 0.6vw;
}
::-webkit-scrollbar-thumb {
  background: #aeaeae;
  border-radius: 20px;
}