.container {
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
}

.main {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 5vw auto auto;
  grid-template-columns: 100%;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  a {
    text-decoration: none;
  }
}

.main {
  p, a {
    word-break: break-all;
  }
}

.ubuntu_bold {
  font-family: ubuntu,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu_medium {
  font-family: ubuntu,sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu_light {
  font-family: ubuntu,sans-serif;
  font-weight: 300;
  font-style: normal;
}

.source_han_sans_bold {
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
  font-weight: 700;
}

.source_han_sans_regular {
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
  font-weight: 500;
}
.source_han_sans_light {
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
  font-weight: 300;
}



.contents {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% 70%;
}


.side_panel {
  background: none;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1.5vw 1vw;
  background: #f8f8f8;
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  .side_title {
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 2vw;
  }
}

.main_panel {
  background: none;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 1vw 5vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}


.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none !important;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  color: #FFF;
  cursor: pointer;
  form {
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      background: linear-gradient(to right, #167df3, #00abfb);
      border: none;
      border-radius: 0px 20px 20px 0px;
      overflow: hidden;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: all 0.3s ease 0s;
      color: #FFF;
    
      &:hover {
        background: linear-gradient(to top, rgb(44, 122, 248), #18a5f7);
        box-shadow: 0 4px 15px #5c90f1c9;
      }
      svg: {
        fill: #FFF;
      }
    }
  }
}

.search_bar, .search_button {
  height: 2vw;
}

.search_bar {
  -webkit-appearance: none;
  appearance: none;
  background: #FFF;
  border-radius: 20px 0px 0px 20px;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 20vw;
  padding-left: 0.5vw;
  outline: none !important;

  &::placeholder {
    font-size: 1vw;
  }
  &::-webkit-input-placeholder{
    font-size: 1vw;
  }

  &:focus {
    outline: none !important;
  }
}

.search_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background: linear-gradient(to right, #167df3, #00abfb);
  border: none;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease 0s;

  &:hover {
    background: linear-gradient(to top, rgb(44, 122, 248), #18a5f7);
    box-shadow: 0 4px 15px #5c90f1c9;
  }
}
.pc_view_search_container {
  .search_button{
    width:3vw;
  }
}






.side_profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  color: #000;
  h2 {
    font-size: 2vw;
    margin: 0;
    color: #000;
  }
  .profile_link {
    border-radius: 10px;
    margin: 20px;
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 10px;
    background: #FFF;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease 0s;
    color: #000;
    font-size: 1.1vw;
    &:hover {
      transform: scale(1.0075, 1.0075);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    }
    &:visited {
      color: #000;
    }
  }
}
.side_janles_div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
  h2 {
    font-size: 2vw;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .janles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    word-break: break-all;
    align-items: center;
    font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    gap: 1vw;
    width: 100%;
    .janle_div {
      padding: 0.25vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 11vw;
      height: 10vw;
      padding: 0.5vw;
      margin: 0;
      gap: 0.25vw;
      height: auto;
      background: #FFF;
      color: #000;
      border-radius: 2vw;
      overflow: hidden;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease 0s;
      &:hover {
        transform: scale(1.0075, 1.0075);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        text-decoration: none;
      }
      &:visited {
        color: #000;
        text-decoration: none;
      }
      h2{
        font-size: 1.55vw;
        margin: 0;
        padding: 0;
      }
      object {
        margin: 1vw 0;
        width: 9.5vw;
        height: 7.5vw;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}























@media (max-width: 650px) {
  .main {
    grid-template-rows: 15vw auto auto;
  }
  .main_panel {
    padding: 5vw 7vw;
  }

  .side_panel {
    display: none;
  }

  .main_panel {
    grid-column: 1 / 3;
  }
  .search_bar {
    width: 20vw;
    padding-left: 2vw;
  
    &::placeholder {
      font-size: 4vw;
    }
    &::-webkit-input-placeholder{
      font-size: 4vw;
    }
  }
}



.profile_box {
  margin: 0;
  text-align: center;
  width: 100%;
  h2 {
    font-size:5vw;
    margin: 0;
  }
}